{
  "semi": false,
  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "printWidth": 120,
  "plugins": ["prettier-plugin-astro"]
}
